/* ===== HERO ===== */

.hero-section {
  background-image: url("../img/hero_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 144px 20px;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
  position: relative;
  z-index: 1;
}

.hero-title {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 12px;
}

.hero-subtitle {
  font-size: 15px;
  color: var(--color-text);
  margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  color: var(--color-text);
  margin-bottom: 16px;
  max-width: 100%;
  line-height: 1.6;
}

.accent-text {
  color: var(--color-accent);
}

.hero-button {
  margin-top: 8px;
  padding: 8px 14px;
  background-color: #f5c518;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 250ms ease;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #e68600;
}

/* TABLET */
@media (min-width: 768px) {
  .hero-section {
    padding: 144px 64px;
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-text {
    font-size: 16px;
  }
  .hero-button {
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .hero-section {
    padding: 124px 84px;
  }

  .hero-title {
    font-size: 48px;
    margin-bottom: 16px;
  }

  .hero-subtitle {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .hero-text {
    font-size: 16px;
  }
}
