/* ===== HISTORY ===== */
#about {
  scroll-margin-top: 40px;
}
.history-section {
  background: linear-gradient(135deg, #01011f, #220101);
  padding: 40px 20px;
}

.history-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 24px;
}
.photo-wrapper {
  display: flex;
  flex-direction: column;
}
.text-wrapper {
  width: calc(100% / 3 * 2);
}

.history-text {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--color-text);
  line-height: 1.7;
}

.history-image {
  display: block;
  border-radius: 4px;
  margin: 12px auto;
}

/* TABLET */
@media (min-width: 768px) {
  .history-section {
    padding: 60px 64px;
  }

  .history-title {
    font-size: 28px;
  }
  .photo-wrapper {
    flex-direction: row;
    align-items: center;
  }
  .history-image {
    margin: 8px;
  }

  .history-text {
    font-size: 15px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .history-section {
    padding: 80px 84px;
  }

  .history-content {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }

  .history-title {
    font-size: 32px;
  }
  .photo-wrapper {
    align-items: start;
  }

  .history-text {
    font-size: 16px;
  }
}
